body{
	margin: 0;
}

#header{
	background-color: #000000;
	min-width:980px;
	height: 160px;
	margin-bottom: 30px;
}
#bg{
	width: 980px;
	padding: 10px 0 65px;
	margin: 0 auto;
	/*font-family:'黑体';*/
}
button{
	background-color: #535353;
	border: none;
	border-radius: 2px;
	width: 60px;
	height:25px;
	color:white;
}
button:hover{
	background-color: #2693FF;
}
#main-left{
	/*height: 1290px;*/
	float: left;
	width: 680px;
/*	height:1000px;*/
	padding-bottom: 50px;
	/*border:2px solid #EEEEEE;*/
}
#main-right{
	/*height: 1290px;*/
	margin-right:20px;
	float: right;
	width: 260px;
	border:1px solid #bd6037;
	padding-bottom: 5px;
}
.site-info{
	background-image: url("./imgs/footer.png");
	height: 160px;
	margin-top: 50px;
}
.clear{
	clear: both;
}
/*排名样式*/
/*#main-right-title{
	background-image: url("../imgs/waiting.png");
	height: 110px;
    color: #FFFFFF;
}*/

#group-range{
	margin-top:0px;
	
	/*outline:1px solid red;*/
}
.range-item{
	width:250px;
	height:55px;
	padding-left:10px;
	border-bottom:1px dotted #f2dfd7;
	/*outline:1px solid red;*/
}
.range-item-last {
	border:0px;
	}
.range-num{
	position: relative;
	width: 20px;
	line-height:20px;
	top: 12px;
	color: #61383a;
	font-size: 15px;
	border-radius: 10px;
	font-family:Arial, Helvetica, sans-serif;
}
.line-block{
	display: block;
	overflow: hidden;
}
.line-block-film {
	width:220px;
	font-size:14px;
	color:#61383a;
	font-family:'微软雅黑';
	}
.line-block-cinema{
	width:130px;
	margin-top:2px;
	font-size:10px;
	float:left;
	color:#61383a;
	}
.line-block-join {
	/*outline:1px solid red;*/
	float:right;
	width:80px;
	font-size:3px;
	color:#a69090;
	font-family:'微软雅黑';
	text-align:center;
	}
.top_0 .range-num,.top_1 .range-num,.top_2 .range-num{
	position: relative;
	width: 20px;
	height: 20px;
	top: 10px;
	border-radius: 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#bd5f37;
	font-weight:bold;
	float:left;
}
.top_0 .line-block-join font,.top_1 .line-block-join font,.top_2 .line-block-join font{
	color: #ffff00;
}
.range-item-info{
	padding-top: 10px;
	font-size: 16px;
	position:relative;
}
.top_0 .line-block,.top_1 .line-block,.top_2 .line-block{
	display: block;
	overflow: hidden;
	
}
.top_0 .line-block-film,.top_1 .line-block-film,.top_2 .line-block-film {
	width:220px;
	font-size:15px;
	color:#bd6037;
	font-family:'微软雅黑';
	font-weight:bold;
	}
.top_0 .line-block-cinema,.top_1 .line-block-cinema,.top_2 .line-block-cinema{
	width:130px;
	margin-top:2px;
	font-size:7px;
	float:left;
	color:#5f3939;
	}
.top_0 .line-block-join,.top_1 .line-block-join,.top_2 .line-block-join {
	/*outline:1px solid red;*/
	float:right;
	width:80px;
	text-align:center;
	font-size:7px;
	color:white;
	font-family:'微软雅黑';
	background-color:#bd6037;
	}
 .font-20{
	font-size: 20px;
 }
  .font-40{
	font-size: 40px;
 }
 .margin-auto{
 	 margin: 0 auto;
 }
 .align-middle{
 	 margin-left: auto;
 	 margin-right: auto;
 }
 .blue-font{
 	color:#bd6037;
	font-family:'微软雅黑';
 	font-weight: bold;
 	margin: 2px;
 }
 ul.menu-style{
 	display: block;
	list-style-type: none;
 }
 ul.menu-style li{
 	float: left;
 }
 .float-left{
	float: left;
}
.float-right{
	float:right;
}

.hidden{
	display: none;
}
.site-info{
	background-image: url("../imgs/footer.png");
	height: 50px;
	margin-top: 50px;
}
.menu-selected{
	border-radius: 2px;
	color: white!important;
	background: #1c4154; 
	cursor:pointer;
}