hr{
	border: 1px solid #EEEEEE;
}
body{
	position: relative;
}
a{
	color: #bd6037;
}
#bg{
	padding-bottom: 0px;
}
.groupfilm-info{
	width:610px;
/*    border:2px solid #EEEEEE;*/
    margin:5px auto;
}
/*.groupfilm-img img{
	width: 180px;
	height:250px;
}*/
.film-img{
/*	background-image: url('../imgs/img-bg.png');*/
	width: 180px;
	height:250px;
}
.film-img img{
	width: 160px;
	height:230px;
	box-shadow: 2px 2px 2px #888888; 
	margin-left: 8px;
	margin-top: 8px;
}
#buying_bt,#login_bt{
/*	position: absolute;*/
	margin-left: 40px;
	margin-top: -50px;
	width: 100px;
	font-size:16px;
	font-family:'微软雅黑';
	font-weight:bold;
	background: yellow;
	color: black;
}
.light-text-51 {
	font-size:45px;
	font-family:'微软雅黑';
	font-weight:bold;
	color:#613b3a;
	
	}
.float-left{
	float:left;
}
.price-area{
	/*padding-top: 20px;*/
}
.light-text-41{
	font-size: 41px;
}
.join-group{
	/*padding-top: 20px;*/
	padding-left: 30px;
	height: 58px;
	width:60px;
	font-family:'微软雅黑';
	font-size:10px;
	text-decoration:underline;
}
.float-right{
	float:right;
}
.top-info{
	padding-top: 30px;
}

.bg-blue{
	background-color: #bd6037;
	text-align:center;
	font-family:'微软雅黑';
	margin-bottom: 5px;
	border-radius: 5px;
	width: 150px;
	font-size: 12px;
	padding: 2px;
	color: white;
}
.line-block-infoName {
	font-family:'微软雅黑';
	color:#bd6037;
	font-weight:bold;
	}
.line-block-infoTime {
	margin-top:10px;
	color:#bd6037;
	font-family:'微软雅黑';
	}
.line-block-crew {
	font-size:7px;
	margin-top:5px;
	color:#bd6037;
	font-family:'微软雅黑';
	}
.detial-info{
	border:1px solid #f2dfd7;
	padding:15px;
	height: 120px;
	width: 375px;
	font-size: 13px;
	line-height: 1.3;
}
.comment-star{
	margin-left: 50px;
}
.film-info{
	width:610px;
	margin: 5px auto;
}
.film-star-info{
	height: 80px;
	width: 138px;
	padding: 15px;
	font-size:16px;
	font-family:'微软雅黑';
	font-weight:bold;
	color:#bd6037;
	/*border:  1px solid #EEEEEE;*/
}
.film-introduce{
	/*height: 80px;*/
	width:390px;
	overflow: hidden;
	padding: 15px;
	margin-left: 10px;
	border-left:1px dotted #f2dfd7;
}
#film-content {
	font-size:10px;
	line-height:20px;
	color:#bd6037;
	}
/*鑿滃崟*/
#nav-menu-area{
	width:610px;
	margin: 50px auto;
	border: 1px solid #EEEEEE;
}
ul.nav-menu {
	 padding: 0;
	 margin: 0 auto;
}
.selected-menu{
	background-color:#bd6037;
	color:white!important;
}
ul.nav-menu li:hover{
	background-color: #bd6037;
	color:white;
}
ul.nav-menu li{
	width:150px;
 	height: 30px;
 	text-align: center;
 	border: 1px solid #bd6037;
 	line-height:30px ;
	color:#bd6037;
	padding-top:6px;

}
.ads-area{
	margin-left:18px;
	}
/*.ads-area{
	width: 603px;
	height:100px;
	background-color: #bd6037;
	margin: 15px auto;
}*/
/*绛変綘鍏ヤ紮*/
#parter-info{
	margin: 0 auto;
	width:600px;
}
.parter-title{
	display:block;
	width:605;
	border-bottom:5px solid #bd6037;
	margin-top:40px;
	margin-left:35px;
	font-family:'微软雅黑';
	font-weight:bold;
	color:#bd6037;
}
.waiting-parter-film{
	width:248px;
	margin-left:50px;
	height:190px;
	border: 1px solid #bd6037;
	background-color: #bd6037;
}
.invite-area{
	width:248px;
	height:140px;
	border: 1px solid #bd6037;
	padding: 25px;
}
.relative-film-img{
	 margin-left: -50px;
	 margin-top: 15px;
	 width:115px;
	 height: 160px;
}
.parter-film-name{
	border-bottom: 3px solid #dcbb48;
	color:#dcbb48;
	font-family:'微软雅黑';
	font-size:15px;
	font-weight:bold;
}
.parter-film-info{
	margin-top: 20px;
	margin-left: 20px;
}
.parter-film-cinema{
	text-align:right;
/*	background:#dcbb48;*/
	font-family:'微软雅黑';
	font-size:10px;
	color:white;
}
.parter-film-wn,.parter-film-cinema,.parter-film-name,.parter-film-addr{
	width:150px;
}
.parter-film-addr{
	margin-top:5px;
	font-size:10px;
	color:ddbf49;
	line-height:20px;
	}
ul.parter-list{
	list-style-type: none;
	padding: 0px;
}
ul.parter-list li{
	color:#bd6037;
	font-size:14px;
	margin: 2px;
}
ul.parter-list li .float-right{
	font-size:12px;
	color:#bd6037;
	}
/*鍟嗗淇℃伅*/
#merchant-info{
	width: 600px;
	margin: 0px;
	margin-top: 50px;
	/*border: 1px solid #EEEEEE;*/
}
.merchant-info-title,.notice-info-title{
	border-bottom: 5px solid #bd6037;
}
#merchant-detial-info{
	margin-left:20px;
	height: 125px;
	padding: 20px;
	width:606px;
}
#map{
	background-color: #AAAAAA;
	width:175px;
	height: 120px;
}
#map img{
	width:175px;
	height: 120px;
}
#merchant-info-area{
	width:360px;
	font-size: 14px;
	margin-left: 45px;
}
.line-block-cinemaName {
	font-size:15px;
	line-height:30px;
	font-family:"微软雅黑";
	font-weight:bold;
	font-style:italic;
	color:#bd6037;
	}
.line-block-content {
	font-size:10px;
	line-height:18px;
	}
/*璐拱椤荤煡*/
#buying-notice{
	width: 606px;
	margin-left:0px;
	margin-top: 50px;
/*	border: 1px solid #EEEEEE;*/
}
#notice-info-table{
	border-top:1px solid #f2dfd7;
	border-bottom: 1px solid #f2dfd7;
	border-left:none;
	border-right: none;
	border-collapse: collapse;
	line-height: 2.5;
	text-indent:5px;
	color:#bd6037;
	font-size: 15px;
	margin-left:35px;
	width:605px;
	font-family:"微软雅黑";
	font-size:13px;
}
td{
	border-top:1px solid #f2dfd7;
	border-bottom:1px solid #f2dfd7;
}
td.left-title{
	width: 80px;
	border-right: 1px solid #f2dfd7;
}

/*璇勪环璇︽儏*/
.link-block-comment{
	font-size:14px;
	font-family:'微软雅黑';
	line-height:35px;
	}
.link-block-Pcomment {
	font-size:14px;
	font-family:'微软雅黑';
	line-height:27px;
	
	}
#comment-info{
	width: 606px;
	margin-top: 50px;
}
.comment-info-title{
	border-bottom: 5px solid #bd6037;
	text-align: bottom;
}
.comment-left,.comment-mid,.comment-right{
	color:#868686;
	height: 130px;
	width:175px;
	margin-top: 5px;
	padding: 10px;
	text-align: center;
}

.comment-left,.comment-mid{
	border-right: 1px solid #EEEEEE;
}
.comment-left{
	line-height: 1.5;
}
.comment-mid{
	line-height: 1.8;
	text-align: center;
}

.comment-right{
	line-height: 1.5;
}
.five-grade,.four-grade,.three-grade,.two-grade,.one-grade{
	margin-left: 5px;
}
/*评论区*/
.comment-type{
	display: block;
	margin-top: 50px;
	margin-left:35px;
	width:606px;
}
.type-title{
	position: absolute;
	font-size:15px;
	font-family:"微软雅黑";
	font-weight:bold;
	color:#bd6037;
}
ul.type{
	list-style-type: none;
	margin-left: 50px;
}
ul.type li{
	float:left;
	margin-right: 10px;
	border: 1px solid #bd6037;
	padding: 2px;
	margin-bottom: 2px;
	font-size: 13px;
	color:#bd6037;
}
/* 品论内容*/
.mark-red{
	font-size:13px;
	font-family:'微软雅黑';
	color:#bd6037;
	}
#all-comments{
	margin-top: 20px;
	margin-left:35px;
	width:605px;
}
.comments-title{
	background-color: #F3F3F3;
	padding:3px;
	font-size: 13px;
}
.comments-centent{
	padding: 20px;
	color:#888888;
	border: 1px solid #EEEEEE;
}
.comment{
/*	border: 1px solid #EEEEEE;*/
	padding: 3px;
	border-bottom: 1px solid #EEEEEE;
	margin-bottom: 20px;
}
.content{
	font-size: 13px;
	line-height: 1.5;
	margin-top: 5px;
}
.add-comment{
/*	border: 1px solid #EEEEEE;*/
	margin: 0 auto;
	padding:5px;
}
#addComment{
	margin-left: 500px;
}
div.loadMore:hover{
	background-color: #EEEEEE
}
/*鍙充晶淇℃伅*/
/*#group-range{
	margin-top: 40px;
	border-right: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
}
.range-item{
	margin-left: 10px;
	margin-right: 10px;
	clear: both;
}
.range-num{

}
.range-film-img img{
 	width: 90px;
 	height: 125px;
 	float: left;
 }
div.range-item-info {
	width:100px;
	font-size: 13px;
}*/
/*购买弹窗*/
.buying-info{
	background: #EEEEEE;
	padding: 20px;
}
#hidden{
	display: none;
}
/*星星*/
.star-img{
	width: 65px;
	height: 15px;
}
/*邀请入伙*/
#invite-info{
	/*position: absolute;*/
	margin-left: 300px;
	margin-top: 60px;
	width: 300px;
	height: 80px;
	display: none;
}
#invite-info:hover{

}
#invite-info textarea{
	 width:300px;
	 height:65px;
}
.invite-parter{
	cursor: pointer;

}
#send-mes,#cancel-bt{
	background: #777777;
	margin-left: 3px;
}
#send-mes:hover,#cancel-bt:hover{
	background: #bd6037;
}