@charset "utf-8";
/* CSS Document */
body {
	background:#bd6037;
	margin:0px;
	font-family:sans-serif,Arial,Helvetica;
	width:100%;
	}
div#middle-background {
	position:relative;
	background:#fff;
	margin:0 auto;
	width:1030px;
	/*outline:1px solid red;*/
	}
div#header {
	position:relative;
	background:#fff;
	height:170px;
	}
div#header div#banner {
	position:relative;
	margin:0 auto;
	padding-top:2px;
	width:100%;
	height:22px;
	background:#fafafa;	
	border-bottom:1px groove #fff;
	}
div#header div#banner span {
	position:relative;
	margin-top:auto;
	font:13px sans-serif,Arial,Helvetica;
	color:#888;
	/*outline:1px solid red;*/
	}
div#header div#banner span#logo {
	margin-left:40px;
	}
div#header div#banner span#username {
	margin-left:760px;
	}
div#header div#banner span#exit {
	margin-left:20px;
	text-decoration:underline;
	}
div#header img#logo-img {
	position:relative;
	margin-top:15px;
	margin-left:18px;
	/*outline:1px solid red;*/
	}
div#header div#catagory {
	position:relative;
	margin-left:415px;
	}
div#header div#catagory span {
	positive:relative;
	margin-right:55px;
	color:#1c4154;
	font-size:18px;
	font-weight:bold;
	font-family:'微软雅黑';
	width:100px;
	outline:1px solid red;
	}
div#header div#breakline {
	position:relative;
	width:100%;
	height:5px;
	background:#1c4154;
	/*outline:1px solid red;*/
	}