body{
	margin: 0;
}

#header{
	background-color: #000000;
	min-width:980px;
	height: 160px;
	margin-bottom: 30px;
}
#bg{
	width: 980px;
	padding: 10px 0 65px;
	margin: 0 auto;
	/*font-family:'黑体';*/
}
button{

}
button:hover{

}
#main-left{
	/*height: 1290px;*/
	float: left;
	width: 680px;
	/*border:2px solid #EEEEEE;*/
}
img#adImg {
	margin-left:28px;
	}
/*#main-right{
	height: 1290px;	
	float: right;
	width: 265px;
	border:2px solid #EEEEEE;
	padding-bottom: 15px;
}*/
.site-info{
	background-image: url("../imgs/footer.png");
	height: 50px;
	margin-top: 50px;
	
}
.filter {
	/*outline:1px solid red;*/
	width:625px;
	margin:0 auto;
	}
.filter-section{
	display: block;
}
.filter-type{
	padding-top:3px;
	/*padding-left: 20px;*/
	font-size: 13px;
	font-weight:bold;
	font:'微软雅黑';
	color:#bd6037;
	position: absolute;
}
ul.inline-block-list{
	display: block;
	list-style-type: none;
	margin-left:35px;
}
li{
	display: inline-block;
	margin: 2px;
	color:#bd6037;
	font-family:'微软雅黑';
	font-size:7px;
}
.show-type{
	border:2px solid #EEEEEE;
	width: 650px;
	height: 20px;
	margin: 0 auto;
}
.group-item{
	height: 165px;
	width:280px;
	/*border:1px solid #EEEEEE;*/
	margin: 15px 30px;
	float: left;
	/*outline:1px solid red;*/
}

div.group-item:hover{
	 box-shadow: 1px 1px 2px  #888888;	
}
.film-img,.item-price,.item-name,.item-tag,.film-cinema,.join-info{
	float: left;
	padding:2px;
	margin-top: 3px;
}
.item-name,.item-tag,.film-cinema,.join-info{
	overflow: hidden;
}
.item-name {
	margin-top:40px;
	margin-left:10px;
	font-size:24px;
	color:#613b3a;
	font-family:'微软雅黑';
	font-weight:bold;
	}
/*.film-cinema {
	font-size:14px;
	color:#1c4154;
	}*/
.cinema-name {
	font-size:14px;
	color:#1c4154;
	}
.item-price {
	margin-top:30px;
	/*outline:1px solid red;*/
}
.prime-price {
	font-size:12px;
	text-decoration:line-through;
	color:#999999;
	}
.current-price {
	margin-left:35px;
	font-size:18px;
	color:#613b3a;
	font-weight:bold;
	font-family:Arial;
	}
.film-img{
	 background-image: url('../imgs/img-bg.png');
	 display: block;
	 width: 113px;
	 height:157px;
}
.film-img img{
	width: 95px;
	height:140px;
	/*box-shadow: 2px 2px 2px #888888; */
	margin-left: 8px;
	margin-top: 8px;
}
a{
	color: #000000;
}
.item-name{
	font-size: 17px;
}
.item-tag{
	font-size: 12px;
	width:180px;
}
.film-cinema{
	margin-top: 10px;
	font-weight: bold;
}
.join-info{
	margin-top: 20px;
	margin-left: 90px;
}
.big-text{
	font-size: 30px;
	margin: 2px;
}
.small-text{
	font-size: 12px;
	padding-right: 22px;
}
.clear{
	clear: both;
}
/*加载更多*/
.loadMore{
	border: 1px solid #EEEEEE;
	width:200px;
	text-align: center;
	margin: 0 auto;
	padding:5px;
	font-size: 15px;
	border-radius: 2px;
}
div.loadMore:hover{
	background-color: #EEEEEE
}
/*菜单样式*/
#recommend:hover,#shopping:hover,#myTF:hover,#login_TF:hover,#aboutUs:hover{
	border-radius: 2px;
	color: white!important;
	background: #1c4154; 
	cursor:pointer;
}
.menu-selected{
	border-radius: 2px;
	color: white!important;
	background: #1c4154; 
	cursor:pointer;
}
.filter-section li{
	cursor:pointer;
}