body{
	margin:0;
}

#bg{
	width: 980px;
	padding: 10px 0 65px;
	margin: 80px auto;
/*	margin-bottom: 20px;*/
	/*font-family:'黑体';*/
}
#main-left{
	/*height: 1290px;*/
	float: left;
	width: 200px!important;
	height:600px;
	border:2px solid #EEEEEE;
}
#main-right{
	/*float: right;*/
	width: 740px!important;
/*	height: 700px;*/
	border:2px solid #EEEEEE;
	float: right;
}
#menu-up{
	width: 190px;
	margin: 40px auto;
	height:120px;

}
#personalData{
	text-align:center;
}
#account-info{
	width: 190px;
	margin-top: 20px;
	text-align: center;
}
#photo{
	border-radius: 40px;
	width: 40px;
	height: 40px;
	/*padding: 20px;*/
}
#add-balance{
	background-color: #bd8037!important;
	color: white;
	border: none;
	width: 60px;
	height: 25px;
}
/**/
#menu-bottom{
	width: 180px;
	margin-left:0px;
	height:400px;
}
ul{
	list-style: none;
	margin-left: -20px;
	text-align: center;
}
#menu-bottom ul li{
	line-height: 30px;
	font-size: 18px;
}
#menu-bottom ul li:hover{
	background-color: #bd8037;
	color: white;
}
.current-select{
	background-color: #bd8037;
	color: white;
}
.float-left{
	float: left;
}
.line-block{
	display: block;
	padding: 2px;
	overflow: hidden;
}
/*显示界面*/
#detail-info{
	border: none;
	width: 660px;
	height: 800px;
	margin: 50px auto;
	margin-left: 50px;
	margin-right: 50px
}
.clear{
	clear: both;
}
.site-info{
	background-image: url("../imgs/footer.png") ;
	height: 50px;
	margin-top: 50px;
}