body{
	margin:0;
}
#header{
	background-color: #000000;
	min-width:980px;
	height: 160px;
	margin-bottom: 30px;
}
#bg{
	width: 980px;
	padding: 10px 0 65px;
	margin: 0 auto;
	font-family:'黑体';
}
#main-left{
	/*height: 1290px;*/
	float: left;
	width: 200px;
	height:600px;
	border:2px solid #EEEEEE;
}
#main-right{
	/*float: right;*/
	width: 760px;
	height: 600px;
	border:2px solid #EEEEEE;
	float: right;
}
#menu-up{
	width: 190px;
	margin: 40px auto;
	height:120px;

}
#personalData{
	text-align:center;
}
#account-info{
	width: 190px;
	margin-top: 20px;
	text-align: center;
}
#photo{
	border-radius: 40px;
	width: 40px;
	height: 40px;
	/*padding: 20px;*/
}
#add-balance{
	background-color: #0080FF;
	color: white;
	border: none;
	width: 60px;
	height: 25px;
}
/**/
#menu-bottom{
	width: 180px;
	margin-left:0px;
	height:400px;
}
ul{
	list-style: none;
	margin-left: -20px;
	text-align: center;
}
#menu-bottom ul li{
	line-height: 30px;
	font-size: 18px;
}
#menu-bottom ul li:hover{
	background-color: #0080FF;
	color: white;
}
.current-select{
	background-color: #0080FF;
	color: white;
}
.float-left{
	float: left;
}
.line-block{
	display: block;
	padding: 2px;
	overflow: hidden;
}
/*显示界面*/
#detail-info{
	border: none;
	width: 650px;
	height: 600px;
	margin: 50px auto;
	margin-left: 50px;
	margin-right: 50px
}